body {
    background-image: url("http://cdn.wallpapersafari.com/71/50/L0yiXo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.icon{
    height: 25px;
    width: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
}

.registryicon {
    height: 150px;
    width: 450px;
    margin-bottom: -15px;
}

#amazon {
    height: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.pic {
    max-height: 300px;
    max-width: 300px;
    padding: 10px;
}

.personPic {
    max-height: 250px;
    max-width: 250px;
    padding: 10px;
    display: block;
    margin: auto;
}

.personDesc {
    text-align: center;
    font-size: 20px;
}

h2 {
    font-size: 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

#countdown {
    font-family: 'Acme', sans-serif;
}

.personName {
    text-align: center;
}

#rightpanel {
    border-left: 1px solid transparent;
    border-color: #3C677B;
}

.jumbotron {
    background-color: rgba(238,238,238,0.5);
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel {
    background-color: transparent;
}

.panel-primary {
    border-color: #3C677B;
}

.panel-primary>.panel-heading {
    background-color: #3C677B;
    border-color: #3C677B;
}

.panel-body {
    background-color: rgba(238,238,238,0.5);
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

.panel-title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

a.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
    margin-right: 12px;
}

	a.btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

#btn-playlist {
    padding: 6px;
}

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

/* red button */

a.btn.btn-red {
	background-color: #E48681;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-red:hover {
		background-color: #DA4F49;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-red:active {
		background-color: #B32C24;
		border-color: rgba(0,0,0,0.9);
	}